reports/Предложение гпт 17e1f8b88bfc8027bc4cf01a5e81c2c0.html
*-checkpoint.ipynb
*-checkpoint.*
/Predict Peeling-Ballooning Mode/data
/Modeling Piling-Ballon Mode/models
/Modeling Piling-Ballon Mode/data
/Predict Peeling-Ballooning Mode/models
Development_of_a_neural_network_model_for_peeling–ballooning_stability.pdf
/Modeling Piling-Ballon Mode/__pycache__
Predict Peeling-Ballooning Mode/Plot_clfs.py
